{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>
        Forgot your password?
        <a href="{{ url_for('auth.request_password_reset') }}">
            Click here to reset!
        </a>
    </p>
    <p>
        Not registered yet?
        <a href="{{ url_for('auth.register') }}">Click here to register</a>!
    </p>
{% endblock %}
