{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Hello {{ user.username }}!</h1>
    </div>
    <div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }} <br>
                {{ form.post(rows=3, cols=50) }} <br>
                {% for error in form.post.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
    <div>
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
    </div>
{% endblock %}
