{% extends 'base.html' %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="192px">
                <img src="{{ user.avatar(192) }}">
            </td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}
                <p>
                    {{ user.about_me }}
                </p>
                {% endif %}
                {% if user.last_seen %}
                <p>
                    {{ _('User is last seen on:') }}
                    {{ moment(user.last_seen).format('LLL') }}
                </p>
                {% endif %}
                <p>
                    Following {{ user.followed.count() }} other users,
                    and has {{ user.followers.count() }} followers
                </p>
                {% if current_user == user %}
                <p>
                    <a href="{{ url_for('main.edit_profile') }}">
                        Edit Profile
                    </a>
                </p>
                <p>
                    Want a better profile picture?
                    <a href="https://wordpress.com/log-in?redirect_to=https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3Db1d8e1c71d715c437bd1189ab527850dabd4ea612913177fc2fbeeac356e9e71%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&client_id=1854">
                        Edit it at Gravatar!
                    </a>
                </p>
                {% else%}
                    {% if current_user.is_following(user) %}
                        <p>
                            <a href="{{ url_for('main.unfollow',
                            username=user.username) }}">Unfollow</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{{ url_for('main.follow',
                            username=user.username) }}">Follow</a>
                        </p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled {% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled {% endif %}">
               <a href="{{ next_url or '#' }}">
                   <span aria-hidden="true">&rarr;</span> Older Posts
               </a>
            </li>
        </ul>
    </nav>
{% endblock %}
